# SSCP - February 12 2017 Outdoor Testing Results

# February 12 2017 Outdoor Testing Results

Overall results: We need to be much more careful about the angle of the cells (*all of them*) while testing!

IV Curves:

[](https://drive.google.com/folderview?id=1P4fojHcwJMvMXI69TatpYBp5hCkFAYzh)

### Embedded Google Drive File

Google Drive File: [Embedded Content](https://drive.google.com/embeddedfolderview?id=1P4fojHcwJMvMXI69TatpYBp5hCkFAYzh#list)

<iframe width="100%" height="400" src="https://drive.google.com/embeddedfolderview?id=1P4fojHcwJMvMXI69TatpYBp5hCkFAYzh#list" frameborder="0"></iframe>

